.photoListItem {
  width: 150px;
  height: 150px;
  margin: 1.25rem 1.25rem 0 0;
  position: relative;
  font-family: var(--roboto);
}

.photoListItem__imgLoader {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  position: absolute;
}

.photoListItem__img {
  width: 150px;
  height: 150px;
  position: absolute;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-out;
}

.photoListItem__titleContainer {
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 150px;
  padding: 0.5rem;
  overflow-y: hidden;
  background-color: black;
  box-shadow: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-property: box-shadow, transform;
  opacity: 0.6;
}

.photoListItem__titleContainer:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  transform: scale(1.025);
}

.photoListItem__titleContainer__title {
  color: white;
  width: 150px;
  opacity: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}